* {
  box-sizing: border-box;
  outline-color: var(--txt-l);
  /* transition: color .3s; */
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --bg-light-gradient-1: #F9ECFF;
  --bg-light-gradient-2: #E2FEEE;
  --bg-dark-gradient-1: #15011E;
  --bg-dark-gradient-2: #011409;
  --txt-light-1: #15011E;
  --txt-light-special: #8015A6;
  --txt-dark-1: #F9ECFF;
  --txt-dark-special: #CA6AEC;
}

body, body.light {
  --bg-gradient-1: var(--bg-light-gradient-1);
  --bg-gradient-2: var(--bg-light-gradient-2);
  --txt-1: var(--txt-light-1);
  --txt-special: var(--txt-light-special);
}

body.dark {
  --bg-gradient-1: var(--bg-dark-gradient-1);
  --bg-gradient-2: var(--bg-dark-gradient-2);
  --txt-1: var(--txt-dark-1);
  --txt-special: var(--txt-dark-special);
}

body {
  color: var(--txt-1);
}

body::before {
  content: ' ';
  background-image: linear-gradient(111.49deg, var(--bg-gradient-1) 30.97%, var(--bg-gradient-2) 67%);
  position: fixed;
  top: -75%;
  left: -75%;
  right: -75%;
  bottom: -75%;
  z-index: -1;
  transform: rotate(0);
  animation: rotate-background-gradient 12s linear infinite;
}

@keyframes rotate-background-gradient {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  body::before {
    animation: none;
  }
}


.menu-container {
  display: flex;
  justify-content: end;
  gap: 24px;
  padding: 24px 0 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.schemeToggle-container {
  position: relative;
  width: 48px;
  height: 24px;
}

.schemeToggle-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.schemeToggle-switch {
  background-color: rgba(0,0,0,.2);
  border-radius: 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.schemeToggle-switch::after {
  content: ' ';
  background: var(--txt-1);
  border-radius: 25px;
  width: 16px;
  height: 16px;
  position: absolute;
  transform: translate(4px, 4px);
  transition: all .3s linear;
}

.schemeToggle-checkbox:focus + .schemeToggle-switch {
  outline: 1px solid var(--txt-1);
  border: none;
}

.schemeToggle-checkbox:checked + .schemeToggle-switch {
  background-color: rgba(255,255,255,.2);
}

.schemeToggle-checkbox:checked + .schemeToggle-switch::after {
  background-color: var(--txt-special);
  transform: translate(28px, 4px);
}

.lang-container {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  padding-right: 2px;
}


.hero-container {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  width: 90%;
}

.hero-title {
  margin-top: 180px;
  font-size: 24px;
  color: var(--txt-special);
}

.hero-titleSpan {
  display: block;
  font-size: 48px;
  margin-top: 24px;
  line-height: 58px;
  color: var(--txt-1);
}

.hero-titleSpan u {
  text-underline-offset: 10px;
}

.hero-description {
  margin-top: 36px;
  font-size: 24px;
}


.courses-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 160px auto 0;
  max-width: 1200px;
  width: 90%;
}

.courses-title {
  margin-bottom: 20px;
  width: 100%;
}

.course-card {
  border: 4px solid #000;
  border-radius: 12px;
  padding: 35px 28px;
  min-height: 250px;
  min-width: 300px;
  width: calc(33% - 13px);
  position: relative;
}

.course-cardBadge {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
}

.course-cardBadge img {
  width: 100%;
  height: 100%;
}

.course-cardTitle {
  font-size: 21px;
  margin: 24px 0 0;
}

.course-cardDescription {
  font-size: 21px;
  margin: 12px 0 0;
}

.course-cardLink::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


footer {
  margin-top: 160px;
}


@media (max-width: 1200px) {
  .course-card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .course-card {
    width: 100%;
  }
}
