* {
  box-sizing: border-box;
  outline-color: var(--txt-l);
  /* transition: color .3s; */
}

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;

  --light-bg-gradient-1: #F9ECFF;
  --light-bg-gradient-2: #E2FEEE;
  --light-txt-1: #15011E;
  --light-txt-special: #8015A6;
  --light-txt-special-2: #3DA70C;
  --light-txt-special-3: #0E0319;
  
  --dark-bg-gradient-1: #15011E;
  --dark-bg-gradient-2: #011409;
  --dark-txt-1: #F9ECFF;
  --dark-txt-special: #CA6AEC;
  --dark-txt-special-2: #4FD70F;
  --dark-txt-special-3: #E6D1FA;
}

body, body.light {
  --bg-gradient-1: var(--light-bg-gradient-1);
  --bg-gradient-2: var(--light-bg-gradient-2);
  --bg-border: #153F38;

  --txt-1: var(--light-txt-1);
  --txt-special: var(--light-txt-special);
  --txt-special-2: var(--light-txt-special-2);
  --txt-special-3: var(--light-txt-special-3);
}

body.dark {
  --bg-gradient-1: var(--dark-bg-gradient-1);
  --bg-gradient-2: var(--dark-bg-gradient-2);

  --txt-1: var(--dark-txt-1);
  --txt-special: var(--dark-txt-special);
  --txt-special-2: var(--dark-txt-special-2);
  --txt-special-3: var(--dark-txt-special-3);
}

body {
  color: var(--txt-1);
  margin: 0;
  padding: 0;
}

@property --bg-gradient-rotation {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

body::before {
  content: ' ';
  background-color: var(--bg-gradient-1);
  background-image: linear-gradient(
    var(--bg-gradient-rotation),
    var(--bg-gradient-1) 30.97%,
    var(--bg-gradient-2) 67%
  );
  position: fixed;
  top: -75%;
  left: -75%;
  right: -75%;
  bottom: -75%;
  z-index: -1;
  animation: rotate-background-gradient 6s linear infinite;
}

@keyframes rotate-background-gradient {
  0% {
    --bg-gradient-rotation: 0deg;
  }
  100% {
    --bg-gradient-rotation: 360deg;
  }
}

@media (prefers-reduced-motion) {
  body::before {
    animation: none;
  }
}

a {
  color: var(--txt-special-2);
  font-weight: bold;
  text-underline-offset: 2px;
}


.menu-container {
  display: flex;
  justify-content: end;
  gap: 24px;
  padding: 24px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.schemeToggle-container {
  position: relative;
  width: 48px;
  height: 24px;
}

.schemeToggle-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.schemeToggle-switch {
  background-color: rgba(0,0,0,.2);
  border-radius: 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.schemeToggle-switch::after {
  content: ' ';
  background: var(--txt-1);
  border-radius: 25px;
  width: 16px;
  height: 16px;
  position: absolute;
  transform: translate(4px, 4px);
  transition: all .3s linear;
}

.schemeToggle-checkbox:focus + .schemeToggle-switch {
  outline: 1px solid var(--txt-1);
  border: none;
}

.schemeToggle-checkbox:checked + .schemeToggle-switch {
  background-color: rgba(255,255,255,.2);
}

.schemeToggle-checkbox:checked + .schemeToggle-switch::after {
  background-color: var(--txt-special);
  transform: translate(28px, 4px);
}


.hero-container {
  text-align: center;
  margin: 180px auto 0;
  max-width: 700px;
  width: 90%;
}

.hero-title {
  margin: 0;
  color: var(--txt-special);
  font-size: 24px;
  font-weight: 900;
  font-family: Dosis, Avenir;
}

@property --titleSpan-gradient-pos {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}

.hero-titleSpan {
  display: block;
  font-size: 48px;
  font-family: Avenir;
  margin-top: 24px;
  line-height: 58px;
  background-image: radial-gradient(
    farthest-corner at var(--titleSpan-gradient-pos) center,
    var(--txt-special-2) 0%,
    var(--txt-special-3) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  animation: move-titleSpan-gradient 12s linear infinite;
}

@keyframes move-titleSpan-gradient {
  0%, 50%, 100% {
    --titleSpan-gradient-pos: 50%;
  }
  25% {
    --titleSpan-gradient-pos: 100%;
  }
  75% {
    --titleSpan-gradient-pos: 0%;
  }
}

.hero-titleSpan u {
  text-decoration-color: var(--txt-special-3);
  text-underline-offset: 10px;
  color: var(--txt-special-3);
}

.hero-description {
  margin-top: 36px;
  font-size: 24px;
}


.section-container {
  margin: 144px auto 0;
  max-width: 1200px;
  width: 90%;

  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-title {
  margin: 0 0 20px;
  width: 100%;
  font-family: 'Dosis';
}

.card {
  border: 4px solid;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  min-height: 250px;
  min-width: 300px;
}

.mouseTracker {
  content: ' ';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  height: 125px;
  filter: blur(120px);
  
  background-color: transparent;
  transform:
    translateX(-50%)
    translateY(-50%)
  ;
  transform-origin: center;
  transition-property: transform, background-color;
  transition-duration: .15s;
}

.course-card:hover .mouseTracker,
.promo-card:hover .mouseTracker,
.about-card:hover .mouseTracker {
  background-color: var(--txt-special);
}

@media (prefers-reduced-motion) {
  .mouseTracker { display: none; }
}


/* .courses-container {} */

/* .courses-title {} */

.course-card {
  padding: 35px 28px;
  width: calc(33% - 13px);
}

body.light .course-card {
  background-color: rgba(255,255,255,0);
  border-color: var(--bg-border);
  transform: scale(1);

  transition-property: background-color, border-color, transform;
  transition-duration: .3s;
}

body.light .course-card:hover {
  background-color: rgba(255,255,255,.5);
  border-color: var(--txt-special-2);
  transform: scale(1.01);
}

body.dark .course-card {
  background-color: rgba(0,0,0,0);
  border-color: var(--bg-border);
  transform: scale(1);

  transition-property: background-color, border-color, transform;
  transition-duration: .3s;
}

body.dark .course-card:hover {
  background-color: rgba(0,0,0,.25);
  border-color: var(--txt-special);
  transform: scale(1.01);
}

.course-cardBadge {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
}

.course-cardBadge img {
  width: 100%;
  height: 100%;
}

.course-cardTitle {
  font-size: 21px;
  margin: 24px 0 0;
}

.course-cardDescription {
  font-size: 19px;
  margin: 12px 0 16px;
}

/* .course-cardLink { } */

.course-cardLink::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.course-cardLinkIcon {
  width: 16px;
  margin-bottom: -2px;
  margin-left: -12px;
}

@media (prefers-reduced-motion) {
  .course-card {
    transform: none !important;
    transition: none !important;
  }
}

@media (max-width: 1200px) {
  .course-card { width: 48%; }
}

@media (max-width: 768px) {
  .course-card { width: 100%; }
}


.promo-card {
  background-color: var(--light-txt-special-3);
  background-image: linear-gradient(91.22deg, var(--light-txt-special-3) 32.19%, #0c1733 97.61%, var(--txt-special-3) 127.93%);
  border: none;
  color: var(--dark-txt-1);
  padding: 48px 64px;
  min-height: auto;
  width: 100%;
  
  box-shadow: 0 0px 25px rgb(79 215 15 / 0%);
  transform: scale(1);
  transition-property: box-shadow, transform;
  transition-duration: .15s;
}

.promo-card:hover {
  box-shadow: 0 0px 50px rgb(79 215 15 / 12.5%);
  transform: scale(1.02);
}

.promo-card h2 {
  margin: 0 0 12px;
}

.promo-cardLink::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://static.platzi.com/media/uploads/school_bg_computerscience_2x_efd708987d.png?updated_at=2022-08-11T13:58:02.011Z');
  background-size: 200px;
  background-repeat: no-repeat;

  background-position: 100% 0;
  transition-property: background-size, background-position;
  transition-duration: .15s;
}

.promo-card:hover .promo-cardLink::after {
  background-position: 100% 20%;
  background-size: 240px;
}

@media (prefers-reduced-motion) {
  .promo-card, .promo-cardLink::after {
    transform: none !important;
    transition: none !important;
  }
}


.about-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 48px 64px;
  border-color: var(--bg-border);
}

.about-cardPhoto {
  position: relative;
  width: 48%;
  min-width: 300px;
  margin: 0 48px 0 0;
  padding: 0;
}

.about-cardPhoto img {
  border-radius: 24px;
  width: 100%;
}

.about-cardDescription {
  font-size: 24px;
}

.about-cardDescription p {
  margin-top: 0;
}

.about-cardDescription p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1145px) {
  .about-cardDescription {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .about-cardDescription {
    font-size: 20px;
  }
}

@media (max-width: 956px) {
  .about-card {
    flex-wrap: wrap;
  }
  .about-cardPhoto {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .about-cardDescription {
    font-size: 24px;
  }
  .about-cardDescription p:first-child {
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .about-cardPhoto {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .about-card {
    padding: 48px 48px;
  }
  .about-cardPhoto {
    min-width: initial;
  }
}

@media (max-width: 480px) {
  .about-card {
    padding: 40px 32px;
  }
}


.footer {
  padding-bottom: 24px;
  row-gap: 16px;
  max-width: 700px;
}

.footer a {
  color: var(--txt-special);
  text-decoration: none;
  font-family: 'Dosis';
  font-size: 14px;
}

.footer small {
  font-weight: 400;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 956px) {
  .footer {
    padding-bottom: 48px;
  }

  .footer a {
    text-align: center;
    width: 100%;
  }
}
