* {
  box-sizing: border-box;
  outline-color: var(--txt-l);
  /* transition: color .3s; */
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  --light-bg-gradient-1: #F9ECFF;
  --light-bg-gradient-2: #E2FEEE;
  --light-txt-1: #15011E;
  --light-txt-special: #8015A6;
  --light-txt-special-2: #3DA70C;
  --light-txt-special-3: #0E0319;
  
  --dark-bg-gradient-1: #15011E;
  --dark-bg-gradient-2: #011409;
  --dark-txt-1: #F9ECFF;
  --dark-txt-special: #CA6AEC;
  --dark-txt-special-2: #4FD70F;
  --dark-txt-special-3: #E6D1FA;
}

body, body.light {
  --bg-gradient-1: var(--light-bg-gradient-1);
  --bg-gradient-2: var(--light-bg-gradient-2);
  --bg-border: #153F38;

  --txt-1: var(--light-txt-1);
  --txt-special: var(--light-txt-special);
  --txt-special-2: var(--light-txt-special-2);
  --txt-special-3: var(--light-txt-special-3);
}

body.dark {
  --bg-gradient-1: var(--dark-bg-gradient-1);
  --bg-gradient-2: var(--dark-bg-gradient-2);

  --txt-1: var(--dark-txt-1);
  --txt-special: var(--dark-txt-special);
  --txt-special-2: var(--dark-txt-special-2);
  --txt-special-3: var(--dark-txt-special-3);
}

body {
  color: var(--txt-1);
  margin: 0;
  padding: 0;
}

body::before {
  content: ' ';
  background-image: linear-gradient(111.49deg, var(--bg-gradient-1) 30.97%, var(--bg-gradient-2) 67%);
  position: fixed;
  top: -75%;
  left: -75%;
  right: -75%;
  bottom: -75%;
  z-index: -1;
  transform: rotate(0);
  animation: rotate-background-gradient 12s linear infinite;
}

@keyframes rotate-background-gradient {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  body::before {
    animation: none;
  }
}


.menu-container {
  display: flex;
  justify-content: end;
  gap: 24px;
  padding: 24px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.schemeToggle-container {
  position: relative;
  width: 48px;
  height: 24px;
}

.schemeToggle-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.schemeToggle-switch {
  background-color: rgba(0,0,0,.2);
  border-radius: 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.schemeToggle-switch::after {
  content: ' ';
  background: var(--txt-1);
  border-radius: 25px;
  width: 16px;
  height: 16px;
  position: absolute;
  transform: translate(4px, 4px);
  transition: all .3s linear;
}

.schemeToggle-checkbox:focus + .schemeToggle-switch {
  outline: 1px solid var(--txt-1);
  border: none;
}

.schemeToggle-checkbox:checked + .schemeToggle-switch {
  background-color: rgba(255,255,255,.2);
}

.schemeToggle-checkbox:checked + .schemeToggle-switch::after {
  background-color: var(--txt-special);
  transform: translate(28px, 4px);
}


.hero-container {
  text-align: center;
  margin: 180px auto 0;
  max-width: 700px;
  width: 90%;
}

.hero-title {
  margin: 0;
  font-size: 24px;
  color: var(--txt-special);
}

.hero-titleSpan {
  display: block;
  font-size: 48px;
  font-weight: 900;
  margin-top: 24px;
  line-height: 58px;
  /* color: var(--txt-1); */
  background: linear-gradient(91.22deg, var(--txt-special-3) 12.19%, var(--dark-txt-special-2) 57.61%, var(--txt-special-3) 97.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero-titleSpan u {
  text-decoration-color: var(--txt-special-3);
  text-underline-offset: 10px;
  color: var(--txt-special-3);
}

.hero-description {
  margin-top: 36px;
  font-size: 24px;
}


.courses-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 144px auto 0;
  max-width: 1200px;
  width: 90%;
}

.courses-title {
  margin: 0 0 20px;
  width: 100%;
}

.course-card {
  border: 4px solid;
  border-radius: 12px;

  padding: 35px 28px;
  min-height: 250px;
  min-width: 300px;
  width: calc(33% - 13px);
  position: relative;
  overflow: hidden;
}

body.light .course-card {
  background-color: rgba(255,255,255,0);
  border-color: var(--bg-border);
  transform: scale(1);

  transition-property: background-color, border-color, transform;
  transition-duration: .3s;
}

body.light .course-card:hover {
  background-color: rgba(255,255,255,.5);
  border-color: var(--txt-special-2);
  transform: scale(1.01);
}

body.dark .course-card {
  background-color: rgba(0,0,0,0);
  border-color: var(--bg-border);
  transform: scale(1);

  transition-property: background-color, border-color, transform;
  transition-duration: .3s;
}

body.dark .course-card:hover {
  background-color: rgba(0,0,0,.25);
  border-color: var(--txt-special);
  transform: scale(1.01);
}

.course-card > span {
  content: ' ';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  height: 125px;
  filter: blur(120px);
  
  background-color: transparent;
  transform:
    translateX(-50%)
    translateY(-50%)
  ;
  transform-origin: center;
  transition-property: transform, background-color;
  transition-duration: .15s;
}

.course-card:hover > span {
  background-color: var(--txt-special);
}

@media (prefers-reduced-motion) {
  .course-card {
    transform: none !important;
    transition: none !important;
  }

  .course-card > span { display: none; }
}

.course-cardBadge {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
}

.course-cardBadge img {
  width: 100%;
  height: 100%;
}

.course-cardTitle {
  font-size: 21px;
  margin: 24px 0 0;
}

.course-cardDescription {
  font-size: 19px;
  margin: 12px 0 16px;
}

.course-cardLink {
  color: var(--txt-special-2);
  font-weight: bold;
  text-underline-offset: 2px;
}

.course-cardLink::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.course-cardLinkIcon {
  width: 16px;
  margin-bottom: -2px;
  margin-left: -12px;
}


footer {
  margin-top: 144px;
}


@media (max-width: 1200px) {
  .course-card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .course-card {
    width: 100%;
  }
}
